html,
body {
  height: 100vh;
  width: 100vw;
  background-color: #171717;

}

html,body,
a:link,
a:active,
a:hover {
  cursor: none;
}

.transition {
  transition: all 250ms linear;
}
#shadow {
  width: 2px;
  height: 2px;
  background-color: white;
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  &.active {
    opacity: 0.7;
  }
}

// #cursor {
//   position: absolute;
//   z-index: 0;
//   height: 10px;
//   width: 10px;
//   border-radius: 50%;
//   perspective: none;
//   pointer-events: none;
//   // overflow: hidden;
//   will-change: all;
//
//   &.triggered {
//     // background-color: green;
//   }
//   &.active {
//     background: linear-gradient(90deg, rgba(136,218,145,1) 18%, rgba(76,133,232,1) 76%);
//   }
//
//
//   #canvas-basic {
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 100%;
//     width: 100%;
//     border-radius: 50%;
//
//   }
// }

.row {
  height: 100vh;
  align-items: center;
  // align-items: center;
}

.dot {
  // z-index: 9999999999999999999;
  &:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    $size: var(--circle);
    width: $size;
    height: $size;
    margin-top: var(--offset) ;
    margin-left: var(--offset);
    border-radius: 50%;
    border: 1px dashed var(--border-color);
  }
}

#detection,
#detection-two,
#detection-three {
  position: relative;
  // background-color: #e49032;
  transition: color 450ms ease-in;
  &.trigger {
    color: #fff;

  }
}

#detection {
  width: 100px;
  height: 100px;
}

#detection-two {
  width: 50px;
  height: 50px;
}

#detection-three {
  margin-top: 300px;
  width: 35px;
  height: 35px;
}


#cursor {
  background-color: white;
  pointer-events: none;
  position: fixed;
  display: block;
  border-radius: 50%;
  transform-origin: center center;
  perspective: none;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  z-index: 1000;
  -webkit-filter: url(#goo);
  filter: url(#goo);
  mix-blend-mode: color-dodge;
}

#cursor-drag {
  pointer-events: none;
  position: absolute;
  perspective: none;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  z-index: 1000;
  -webkit-filter: url(#goo);
  filter: url(#goo);
  mix-blend-mode: color-dodge;
}


.trail,
canvas {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#adf6bd+0,2989d8+50,3077f3+100 */
background: rgb(173,246,189); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(173,246,189,1) 0%, rgba(41,137,216,1) 50%, rgba(48,119,243,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(173,246,189,1) 0%,rgba(41,137,216,1) 50%,rgba(48,119,243,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(173,246,189,1) 0%,rgba(41,137,216,1) 50%,rgba(48,119,243,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  position: absolute;
  // background-color: red;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  transform-origin: center center;
}
