<!-- <div id="cursor"></div> -->
<div id="cursor-drag"></div>

<div class="row align-center">
  <div class="small-6 columns">
    <a id='detection-two' data-expand="30" data-grab="link" data-proximity="100">EMAIL US</a>
  </div>
  <div class="small-6 columns">
    <a id='detection-three' data-expand="30" data-proximity="50">READ MORE</a>
  </div>
</div>
