<div id="cursor"></div>
<div class="row">
  <div class="small-6 columns"><div id='detection-two' data-grab="link" data-proximity="50"></div></div>
  <div class="small-6 columns"><div id='detection-three' data-grab="link" data-proximity="100"></div></div>
</div>
